/* .login-input */
.login-input {line-height:34px;}

/* #login-pic */
#login-pic {_background:url(../../images/ie/login-pic.gif);}

.x-tooltip-content {background:#666;}

#login-box {font-family:'Microsoft Yahei';}